.news-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 20px; 
}
.news-item {
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}
.news-item h2 {
    margin: 0;
    font-size: 1.5em;
    text-align: center;
    color: green;
}
.news-item p {
    margin: 10px 0 0;
    font-size: 1em;
    color: black;
    font-weight: bold;
}